<div fxLayout="row" fxLayoutAlign="center center">

   <mat-icon class="mrs-2" [ngClass]="leftIconClass" *ngIf="leftIcon">
      {{ leftIcon }}
   </mat-icon>
   <mat-icon class="mrs-2" style="min-height: 20px; min-width: 20px;" [ngClass]="leftIconClass" *ngIf="leftIconSvg"
      [svgIcon]="leftIconSvg"></mat-icon>
   <mat-form-field [appearance]="this.appearance" style="width: 100% !important" [formGroup]="form">
      <mat-icon matPrefix *ngIf="this.icon" [ngClass]="iconClass">{{ icon }}</mat-icon>
      <mat-label *ngIf="this.label">
         <span>{{ label }}</span>
      </mat-label>
      <mat-hint>
         {{ this.hint }}
      </mat-hint>
      <input matInput (keyup.enter)="this.enter.emit()" [formControlName]="name" id="{{ name }}" name="{{ name }}"
         type="text" placeholder="{{ placeholder }}" [readonly]="readonly" [attr.disabled]="disabled ? '' : null"
         maxlength="{{ maxLength }}" />
      <button tabIndex="-1" [disabled]="!this.form.get(this.name).value || this.form.get(this.name).disabled"
         type="button" mat-button *ngIf="this.clearable" matSuffix mat-icon-button aria-label="Clear"
         (click)="this.form.get(this.name).reset()">
         <mat-icon>close</mat-icon>
      </button>
      <mat-spinner matSuffix [diameter]="18" *ngIf="this.searchingSpinner" class="mrs-2"></mat-spinner>

      <mat-error *ngIf="
         this.form.get(this.name).errors &&
         (this.form.get(this.name).dirty || this.form.get(this.name).touched)
      ">
         <b>
            {{ objectValues(this.form.get(this.name).errors)[0] }}
         </b>
      </mat-error>
   </mat-form-field>
</div>