
$pink-wisboo: (
    50 : #ffe0f1,
    100 : #feb3db,
    200 : #fe80c3,
    300 : #fe4dab,
    400 : #fd2699,
    500 : #fd0087, // Main color
    600 : #fd007f,
    700 : #fc0074,
    800 : #fc006a,
    900 : #fc0057,
    A100 : #ffffff,
    A200 : #ffeff3,
    A400 : #ffbccf,
    A700 : #ffa2bd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

